{% extends 'authentication\base.html' %}

{% block header %}


{% if user.is_authenticated %} 
<!--<button type="submit"> <a href="/signout">signout</a></button>-->
<ul>
	<li><a class="nav-bar" href="\">Home</a></li>
	<li><a href="\signout">Signout</a></li>
</ul>

{% else %}
<!-- <button type="submit"> <a href="/signup">signup</a></button>
<button type="submit"> <a href="/signin">signin</a></button> -->
<ul>
	<li><a class="nav-bar" href="\">Home</a></li>
	<li><a href="\signup">Register</a></li>
<li><a href="\signin">Login</a></li>

</ul>
{% endif %}

{% endblock header %}



{% block content %}
<div class="formcf">
	<div class="formcs">
<form method="POST" >
	{% csrf_token %}
	<h1>Registration</h1>
	First name:<br>
	<input type="text" name="f_name" id="f_name" required><br>
	Last name:<br>
	<input type="text" name="l_name" id="l_name" required><br>
	User name:<br>
	<input type="text" name="u_name" id="u_name" required><br>
	Email:<br>
	<input type="email" name="email" id="email" required><br>
	Password:<br>
	<input type="password" name="pass1" id="pass1" required><br>
	Confirm Password:<br>
	<input type="password" name="pass2" id="pass2" required><br>
	<br>
	<button type="submit">sign Up</button>
</form>
</div>
</div>
{% endblock content %}

{% block footer %}


{% endblock footer %}
<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>auth</title>
</head>
<body>

</body>
</html>
-->